<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->
</head>

<body>
  {% for message in messages%}
  <script>
  Swal.fire(
      '{{message.tags}}',
      '{{message}}',
      'success'
      )
  </script>
  {% endfor %}
  <!--Main Navigation-->
  <header class="mb-5">
    <!-- Jumbotron -->
    <div class="p-3 text-center text-white" style="background-color: #000000">
      <div class="container">
        <div class="row">
          <div class="col-md-1 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0 mt-1">
            <a href="#!" class="ms-md-2">
              <img src="../static/images/myphone.jpg" height="40" />
            </a>
          </div>
          <div class="col-md-3 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0 mt-1">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" data-bs-toggle="dropdown" style="border-top: 0;color: white;"><img
                    src="../static/images/hamburger.png" width="18" class="mb-1 mx-2">Categories </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#oppo"> Oppo </a></li>
                  <li><a class="dropdown-item" href="#budget"> Vivo </a></li>
                  <li><a class="dropdown-item" href="#budget"> Nokia </a></li>
                  <li><a class="dropdown-item" href="#realme"> Realme </a></li>
                  <li><a class="dropdown-item" href="#apple"> Apple</a></li>
                  <li><a class="dropdown-item" href="#budget"> Redmi </a></li>
                  <li><a class="dropdown-item" href="#budget"> OnePlus </a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <form class="d-flex mt-2 input-group w-auto my-auto mb-3 mb-md-0">
              <input autocomplete="off" type="search" class="form-control" placeholder="Search" />
              <!-- <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search text-white"></i></span> -->
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
          </div>
          <div class="col-md-2 d-flex justify-content-center justify-content-md-end align-items-center">
            <div class="d-flex">
              <!-- Cart -->
              {% if user.is_authenticated%}
              <a href="cart"><img src="../static/images/shopping-cart.svg" width="35"></a>
              {% else %}
              <a href="login"><img src="../static/images/shopping-cart.svg" width="35"></a>
              {% endif %}
              <span class="position-absolute top-1 start-95 translate-middle badge rounded-pill bg-danger"
                style="margin-left: 35px;">
                {%for i in count_cart %}
                {{i}}
                {% endfor %}
                <span class="visually-hidden">unread messages</span>
              </span>
            </div>
          </div>
          
          <div class="col-md-1 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item dropdown">
                <a href="login" class="nav-link dropdown" data-bs-toggle="dropdown"><img src="../static/images/user-interface.png" class="mt-1 mx-3" alt="" width="35" height="35"></a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="profile" style="background-color: #232f3e; color:white;">Hello,{{user.first_name}}</a></li>
                  <li><a class="dropdown-item" href="your"> Your Orders </a></li>
                  <li><a class="dropdown-item" href="logout">logout</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="login">Sign in</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
          

        </div>
      </div>
    </div>
  </header>
  <main>
    <!-- carousel code -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="../static/images/oppo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../static/images/realme.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../static/images/one.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../static/images/redmi.jpg" class="d-block w-100 h-10" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- content code -->
    <div class="p-5">
      <!-- section 1 -->
      <div class="p-1 mt-4 " style="background-color:#eff4f8">
        <!-- realme section -->
        <div class="mt-2">
          <p class="fw-bold fs-3 ms-4  text-start border-bottom d-inline border-info border-3" id="realme" style="font-color:#637381; line-height: 1.38; font-family: 'Open Sans', sans-serif;">Realme</p>
        </div>
        <div class="p-3 mt-3 rounded-bottom">

          {% for i in object %}
            <div class="row row-cols-1 row-cols-md-5 g-4 mb-4">
              {% for j in i%}
                {% if j.brand == 'realme' %}
               
                  {% if user.is_authenticated %}
                  <form action="cart/{{j.id}}" method="post">
                  {%else%}
                  <form action="login">
                  {% endif%}
         
                  {% csrf_token %}
                  
                  <div class="col">    
                <div class="card h-100 shadow border">
                  <img src="{{j.img}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title fs-4">{{j.name}}</h6>
                    <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                      ₹{{j.price}}/-<br></P>
                     <P>
                      &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                    </p> 
                    <p class="card-text">
                     {{j.description}}</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                    Cart</button></div>
                </div>
              </div>
               {% endif %} 
              </form>

              {%endfor%}
            </div>
          {%endfor%}
        </div>
      </div>


      <!-- section 2 -->
      <div class="p-1 mt-5 " style="background-color:#eff4f8">
        <!-- oppo section -->
        <div class="mt-2">
          <p class="fw-bold fs-3 ms-4 text-start border-bottom d-inline border-info border-3" id="oppo" style="font-color:#637381; line-height: 1.38; font-family: 'Open Sans', sans-serif;">OPPO</p>
        </div>
          <div class="p-3 mt-3 rounded-bottom">
          {% for i in object %}
            <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
              {% for j in i%}
               {% if j.brand == 'oppo' %}
                  {% if user.is_authenticated %}
                  <form action="cart/{{j.id}}" method="post">
                  {%else%}
                  <form action="login">
                  {% endif%}
         
                  {% csrf_token %}
              <div class="col">
                <div class="card h-100 shadow border">
                  <img src="{{j.img}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title fs-4">{{j.name}}</h6>
                    <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                      ₹{{j.price}}/-<br></P>
                     <P>
                      &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                    </p> 
                    <p class="card-text">
                     {{j.description}}</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                    Cart</button></div>
                </div>
              </div>
                 </form>
               {% endif %} 
              {%endfor%}
            </div>
          {%endfor%}
          </div>
      </div>
      {% comment %} <div class="p-3 rounded-bottom">
        {% for i in object %}
        {% for j in i%}
        {% if j.brand == 'vivo' or j.brand == 'nokia' or j.brand == 'redmi' %}
              {% if user.is_authenticated %}
              <form action="cart/{{j.id}}" method="post">
              {%else%}
              <form action="login">
              {% endif%}
              {% csrf_token %}
        <div class="row row-cols-1 row-cols-md-5 g-4 mb-4">
          <div class="col">
            <div class="card h-100 shadow border">
              <img src="{{j.img}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title fs-4">{{j.name}}</h6>
                <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                  ₹{{j.price}}/-<br></P>
                 <P>
                  &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                </p> 
                <p class="card-text">
                 {{j.description}}</p>
              </div>
              <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                Cart</button></div>
            </div>
          </div>
          <form>
          </div>
          {% endif%}
          {% endfor%}
        
        <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
          {% for j in i%}
          {% if j.brand == 'plus' %}
          {% if user.is_authenticated %}
                <form action="cart/{{j.id}}" method="post">
                {%else%}
                <form action="login">
                {% endif%}
       
                {% csrf_token %}
          <div class="col">
            <div class="card h-100 shadow border">
              <img src="{{j.img}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title fs-4">{{j.name}}</h6>
                <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                  ₹{{j.price}}/-<br></P>
                 <P>
                  &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                </p> 
                <p class="card-text">
                 {{j.description}}</p>
              </div>
              <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                Cart</button></div>
            </div>
          </div>
        </form>
          {% endif%}
          {% endfor%}
        </div>
        {% endfor%}
        
      </div> {% endcomment %}
      
      <!-- section 3 -->
      <div class="p-1 mt-5" style="background-color:#eff4f8">
        <!-- budget section -->
        <div class="mt-2">
          <p class="fw-bold fs-3 ms-4 text-start border-bottom d-inline border-info border-3" id="budget" style="font-color:#637381; line-height: 1.38; font-family: 'Open Sans', sans-serif;">Budget Smartphones</p>
        </div>
        <div class="p-3 mt-3 rounded-bottom">
          {% for i in object %}
            <div class="row row-cols-1 row-cols-md-5 g-4 mb-4">
              {% for j in i%}
               {% if j.brand == "plus" or j.brand == "redmi" or j.brand == "nokia" or j.brand == "vivo" %}
                  {% if user.is_authenticated %}
                  <form action="cart/{{j.id}}" method="post">
                  {%else%}
                  <form action="login">
                  {% endif%}
         
                  {% csrf_token %}
              <div class="col">
                <div class="card h-100 shadow border">
                  <img src="{{j.img}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title fs-4">{{j.name}}</h6>
                    <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                      ₹{{j.price}}/-<br></P>
                     <P>
                      &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                    </p> 
                    <p class="card-text">
                     {{j.description}}</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                    Cart</button></div>
                </div>
              </div>
                 </form>
               {% endif %} 
              {%endfor%}
            </div>
          {%endfor%}
          </div>

      </div>

      <!-- section 4 -->
      <div class="p-1 mt-5" style="background-color:#eff4f8">
        <!-- premium section -->
        <div class="mt-2">
          <p class="fw-bold fs-3 ms-4 text-start border-bottom d-inline border-info border-3" id="apple" style="font-color:#637381; line-height: 1.38; font-family: 'Open Sans', sans-serif;">Premium Smartphones</p>
        </div>
        <div class="p-4 rounded-bottom mt-4">
          {% comment %} {% for i in object %}
          <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
            {% for j in i%}
            {% if j.brand == 'iphone' %}
                  {% if user.is_authenticated %}
                  <form action="cart/{{j.id}}" method="post">
                  {%else%}
                  <form action="login">
                  {% endif%}
                  {% csrf_token %}
            <div class="col">
              <div class="card h-100 shadow border">
                <img src="{{j.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title fs-4">{{j.name}}</h6>
                  <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                    ₹{{j.price}}/-<br></P>
                   <P>
                    &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                  </p> 
                  <p class="card-text">
                   {{j.description}}</p>
                </div>
                <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                  Cart</button></div>
              </div>
            </div>
            {% endif%}
            {% endfor%}
          </div>
          {% endfor%}
          <form> {% endcomment %}

            {% for i in object %}
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
              {% for j in i%}
               {% if j.brand == 'iphone' %}
                  {% if user.is_authenticated %}
                  <form action="cart/{{j.id}}" method="post">
                  {%else%}
                  <form action="login">
                  {% endif%}
         
                  {% csrf_token %}
              <div class="col">
                <div class="card h-100 shadow border">
                  <img src="{{j.img}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title fs-4">{{j.name}}</h6>
                    <p class="fs-4 mt-3 fst-normal" style="font-weight:500">
                      ₹{{j.price}}/-<br></P>
                     <P>
                      &#10003; {{j.os}}<br>&#10003; {{j.network}}<br>&#10003; {{j.ram}}<br>&#10003;{{j.display}}
                    </p> 
                    <p class="card-text">
                     {{j.description}}</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 pb-3"> <button class="btn btn-primary d-flex mx-auto" type="submit">Add To
                    Cart</button></div>
                </div>
              </div>
                 </form>
               {% endif %} 
              {%endfor%}
            </div>
          {%endfor%}
      </div>
    </div>

  </main>
  <!--Main Navigation-->
  <!-- footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline btn-floating" href="#!" role="button"
          ><img src="../static/images/facebook.png" alt="" width="40"></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline btn-floating" href="#!" role="button"
        ><img src="../static/images/twitter.png" alt="" width="40"></a></a>
  
        <!-- whatspp -->
        <a class="btn btn-outline btn-floating" href="#!" role="button"
        ><img src="../static/images/whatsapp.png" alt="" width="40"></a></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline btn-floating" href="#!" role="button"
        ><img src="../static/images/instagram.png" alt="" width="40"></a></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline btn-floating" href="#!" role="button"
        ><img src="../static/images/linkedin.png" alt="" width="40"></a></a>
  
        <!-- Github -->
        <a class="btn btn-outline btn-floating" href="#!" role="button"
        ><img src="../static/images/github.png" alt="" width="40"></a></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright: MyPhone
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>